/* show.css

   Copyright (c) 2005 W3C (MIT, ERCIM, Keio), All Rights Reserved.
   W3C liability, trademark, document use and software licensing
   rules apply, see:

   http://www.w3.org/Consortium/Legal/copyright-documents
   http://www.w3.org/Consortium/Legal/copyright-software
*/
body
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  color:rgb(27, 52, 91); 
  background-color: white;
  font-family: sans-serif;
  font-size: 14pt;
}

div.toolbar {
  position: fixed; z-index: 200;
  top: auto; bottom: 0; left: 0; right: 0;
  height: 1.2em; text-align: right;
  padding-left: 1em;
  padding-right: 1em; 
  font-size: 60%;
  color:rgb(27, 52, 91); 
  background: rgb(240,240,240);
}

div.background {
  position: absolute; z-index: 1;
  left: 0; right: 0; top: 0; bottom: 0;
}

div.handout {
  margin-left: 20px;
  margin-right: 20px;
}

div.slide.titlepage {
  text-align: center;
}

div.slide.titlepage.h1 {
  padding-top: 40%;
}


div.slide {
  z-index: 20;
  margin: 0 0 0 0;
  padding-top: 1em;
  padding-bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 120%;
  background-color: transparent;
}

div.slide h1 {
  padding-left: 0;
  padding-right: 20pt;
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 60pt;
  margin-bottom: 0.5em;
  display: block; 
  font-size: 160%;
  line-height: 1.2em;
  background: transparent;
}

pre { color: rgb(0,128,0); font-size: 80%;
 font-weight: bold; line-height: 120%; }

blockquote { font-style: italic }

img { background-color: transparent }

p.copyright { font-size: smaller }

p.copyright01 {
    z-index: 77;
/*   position: absolute;  */
/*   left: 0; right: 0; top: 0; bottom: 0; */
}

.center { text-align: center }
.footnote { font-size: smaller; margin-left: 2em; }

a img { border-width: 0; border-style: none }

a:visited { color: navy }
a:link { color: blue }
a:hover { color: red; text-decoration: underline }
a:active { color: red; text-decoration: underline }

a {text-decoration: none}
.navbar a:link {color: white}
.navbar a:visited {color: yellow}
.navbar a:active {color: red}
.navbar a:hover {color: red}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }
li { margin-left: 0.5em; margin-top: 0.5em; }
li li { font-size: 85%; font-style: italic }
li li li { font-size: 85%; font-style: normal }

div dt
{
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
div dd
{
  margin-left: 2em;
  margin-bottom: 0.5em;
}


.sessionsGreen  { font-size:1.2em; color: green; }
.sessionsGreenNormal  { color: green; }
.unifiedColor  { font-size:1.1em; color: black; }
.managerColor  { font-size:1.1em; color: black; }

img.cover {
/*   top: 0; */
  z-index: 1;
  padding-top:1em;
  width:100%;
}

